<div class="container">

  <div class="div1">
    Folder name
  </div>


  <div class="div2">
    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
      <path d="M0 0h24v24H0z" fill="none" />
      <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
      <path d="M0 0h24v24H0z" fill="none" />
      <path
        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z" />
    </svg>
  </div>


  <div class="container2">
    <div class="container3">
      <div>
        <img class="img-responsive1" src="assets/ola.jpeg">
      </div>
      <div>
        <img class="img-responsive2" src="../assets/uber-logo.png">
      </div>
      <div>
        <img class="img-responsive3" src="../assets/linkedin.jpg">
      </div>
    </div>
    <div class="container4">
      <div>
        <img class="img-responsive4" src="../assets/jupiter.png">
      </div>
      <div>
        <img class="img-responsive5" src="../assets/kotak-logo-clipart.jpg">
      </div>
      <div> <img class="img-responsive6" src="../assets/wynk.jpg">
      </div>
    </div>
    <div class="container5">
      <div>
        <img class="img-responsive7" src="../assets/hungama_logo-1.jpg">
      </div>
    </div>
  </div>
</div>